@import '../../theme';

.Button {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid $red;
    border-radius: 6px;
    background: $red;
    color: $white;
    transition: $transitionEase;

    &:hover {
        cursor: pointer;
        border-color: $yellow;
        background: $yellow;
    }
}