* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body,#root {
    height: 100%;
}

#root {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}
